:root {
  /* My Color Palette */
  --darkblue: #0e131b;
  --darkgray: #302f37;
  --blue: #202832;
  --sendblue: #728597;
  --darkgray: #302f37;
  --lightgray: #84828f;
  --white: #d9d9d9;
}

body,
html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #333;
  overflow: hidden;
}

.App {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  bottom: 0;
  position: relative;
}

main {
  /* position: fixed; */
  display: flex;
  width: 100vw;
  height: 100vh;
}