:root {
  /* Red Hat Color pallete */
  --gray-90: #1f1f1f;
  --gray-95: #151515;
  --red-60: #a60000;
  --red-70: #5f0000;
}

.openai-container {
  margin: auto;
  background-color: #cdcdcd;
  border: 1px solid var(--gray-95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* Align messages to the bottom */
  width: 80vw;
  height: 100vh;
  padding-left: 10px;
}

.App.dark-mode .openai-container {
  background-color: var(--gray-95);
}

.header {
  color: black;
  padding-right: 95%;
}

.App.dark-mode .header {
  color: white;
}

.bottom {
  color: wite;
  font-size: 12px;
  padding-bottom: 5px;
}

.App.dark-mode .bottom { 
  color: black; 
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin-top: 20px; /* Add some space between main container and input container */
  margin-bottom: 10px;
}


/* Chat input and button */
.text-box {
  color: white;
  box-sizing: border-box;
  padding: 18px;
  background-color: var(--gray-95);
  border: 1px solid white;
  border-radius: 20px;
  height: 50px;
  width: calc(100% - 120px); /* Adjust width */
}

.text-box::placeholder {
  color: white;
}

.text-box:focus::placeholder {
  color: transparent;
}

.App.dark-mode .text-box::placeholder {
  color: red;
}

.send-button {
  background-color: red;
  color: white;
  border-radius: 15px;
  border: 1px solid red;
  width: 100px;
  height: 50px;
}

.send-button:hover {
  background-color: var(--red-60);
  border: 1px solid var(--red-60); /* Darken on hover */
}

/* Chat message styles */
.message {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 20px;
  word-wrap: break-word;
  /* annimation segment */
  animation: slideIn 0.75s ease-out forwards;
}

.messages-container {
  width: 70vw;
  height: 680px; /* Match the openai-container height */
  border-radius: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  flex-direction: column-reverse;
  padding-top: 25px;
}

/* Custom scrollbar for .messages-container */
.messages-container::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar */
  scrollbar-width: none; /* Hide the scrollbar by default */
}

.messages-container::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 5px; /* Rounded corners */
}

.messages-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover color */
}

/* Show scrollbar when content is scrollable */
.messages-container:hover::-webkit-scrollbar {
  scrollbar-width: auto; /* Show the scrollbar on hover */
}

.message.user {
  background-color: white;
  color: black;
  border-radius: 15px;
  display: inline-flex;
  float: right;
  text-align: right;
  max-width: 30vw;
  margin: 2.5vh 0px 2.5vh 30vw;
}

.App.dark-mode .message.user {
  background-color: red;
  color: white;
}

.message.ai {
  background-color: black;
  border: 1px solid white;
  color: black;
  border-radius: 15px;
  float: left;
  text-align: left;
  max-width: 50vw;
  max-height: fit-content;
  margin: 0px 30vw 0px 0px;
}

.App.dark-mode .message.ai {
  background-color: var(--gray-90);
  border
  color: white;
}

/* Styling for links */
.message.ai a {
  color: lightblue; 
}

.message.ai a:hover {
  color: var(
    --sendblue
  ); /* Set the color of hovered links to a different color */
}

/* Message animation */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
