:root {
  /* Color pallete */
  --darkblue: #0e131b;
  --darkgray: #302f37;
  --textblue: #007AFF;
  --textgray: #8E8E93; 
  --sendblue: #728597;
  --darkgray: #485a70;
  --lightgray: #303c4b;
  --white: #FFFFFF;
}

.openai-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* Align messages to the bottom */
  width: 75vw;
  height: 85vh;
  padding-left: 25vw;
  margin-bottom: 3%;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin-top: 20px; /* Add some space between main container and input container */
  margin-bottom: 10px;
}

/* Chat input and button */
.text-box {
  box-sizing: border-box;
  padding: 18px;
  background-color: white;
  border: 1px solid black; 
  border-radius: 25px;
  height: 50px;
  width: calc(100% - 120px); /* Adjust width */
}

.text-box::placeholder {
  color: black;
}

.App.dark-mode .text-box::placeholder {
  color: black;
}

.send-button {
  background-color: white;
  color: black;
  border-radius: 40px;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.send-button:hover {
  background-color: #0056b3; /* Darken on hover */
}

/* Chat message styles */
.message {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 20px;
  word-wrap: break-word;
  /* annimation segment */
  animation: slideIn .75s ease-out forwards;
}

.messages-container {
  width: 70vw;
  height: 680px; /* Match the openai-container height */
  border-radius: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  flex-direction: column-reverse;
  padding-right: 10px;
  padding-top: 25px;
}

/* Custom scrollbar for .messages-container */
.messages-container::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar */
  scrollbar-width: none; /* Hide the scrollbar by default */
}

.messages-container::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 5px; /* Rounded corners */
}

.messages-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover color */
}

/* Show scrollbar when content is scrollable */
.messages-container:hover::-webkit-scrollbar {
  scrollbar-width: auto; /* Show the scrollbar on hover */
}

.message.user {
  background-color: var(--textblue);
  color: white;
  border-radius: 20px;
  display: inline-flex;
  float: right;
  text-align: right;
  max-width: 30vw;
  margin: 2.5vh 0px 2.5vh 30vw;
}

.App.dark-mode .message.user {
  background-color: var(--darkgray);
}

.message.ai {
  background-color: grey;
  color: white;
  border-radius: 20px;
  float: left;
  text-align: left;
  max-width: 50vw;
  max-height: fit-content;
  margin: 0px 30vw 0px 0px;
}

.App.dark-mode .message.ai {
  background-color: var(--darkgray);
}

/* Style for links within messages sent by the AI */
.message.ai a {
  color: lightblue; /* Set the color of links to blue */
}

.message.ai a:hover {
  color: var(--sendblue); /* Set the color of hovered links to a different color */
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}