/* Taskbar.css */

.taskbar {
  background-color: slategray;
  border-right: 1px solid black;
  height: 100%;
  width: 25%;
  margin-top: 100px;
  top: 0;
  left: 0;
}

.dark-mode .taskbar {
  background-color: var(--darkgray);
  border-right: 1px solid white;
}

.fileList {
  border-radius: 10px;
  width: fit-content;
  background-color: #f0f0f0;
  justify-content: center;
  align-items: center;
}

.fileList li {
  list-style: none;
}

.fileList button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.fileList .selected {
  background-color: #007bff; /* Change to desired highlight color */
  color: white;
}
