/* Taskbar.css */

.taskbar {
  margin: auto;
  width: 50%;
  border: 0.01em solid var(--gray-90);

  background-color: var(--gray-90);

  padding: 10px;
  height: 100%;
  width: 17%;
}

p {
  color: white;
}
h3 {
  color: white;
}

.dark-mode h2 {
  color: white;
}

.dark-mode h3 {
  color: white;
}

.dark-mode .taskbar {
  background-color: var(--darkgray);
}

.fileList {
  list-style-type: none;
  padding: 0;
}

.fileList li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dark-mode .fileList {
  color: white;
}

.fileList button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.fileList input[type='checkbox'] {
  margin-right: 10px; /* Adds some space between the checkbox and the file name */
}

.fileList label {
  cursor: pointer; /* Changes cursor to pointer when hovering over the label */
}

.fileList .selected {
  background-color: red; /* Change to desired highlight color */
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.fileListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%; /* Adjust height as necessary */
}
