/* Taskbar.css */

.taskbar {
  background-color: #fcf9ed;
  border-right: 1px solid black;
  height: 615px;
  width: 25%;
  margin-top: -2px;
}

.dark-mode .taskbar {
  background-color: var(--darkgray);
  border-right: 1px solid white;
}

.fileList {
  list-style-type: none;
  padding: 0;
}

.fileList li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.fileList button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.fileList input[type='checkbox'] {
  margin-right: 10px; /* Adds some space between the checkbox and the file name */
}

.fileList label {
  cursor: pointer; /* Changes cursor to pointer when hovering over the label */
}

.fileList .selected {
  background-color: #007bff; /* Change to desired highlight color */
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.fileListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 200px); /* Adjust height as necessary */
}
