/* Consolidated App.css */
body, html {
  font-family: 'Open Sans', sans-serif; 
  margin: 0;
  padding: 0;
  background-color: #0D171C; 
  color: #333;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App {
  text-align: center;
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 800px;
  height: calc(100vh - 120px); /* Adjusted to create spacing from the header and bottom */
  margin: auto; /* Center the box horizontally */
  display: flex; /* Aligns the logo and the h1 horizontally */
  align-items: center; /* Centers items vertically within the header */
  justify-content: flex-start; /* Aligns items to the start of the header */
  margin-top: 50px; /* Move the box 50px under the header */
  margin-bottom: 50px; /* Move the box 50px above the bottom */
}

.App-header {
  background-color: #5e051b; /* Burgundy for the header */
  padding: 20px;
  color: white;
  width: 100%; /* Stretch across the top */
  height:55px;
  position: fixed; /* Stick to the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it's above other content */
  display: flex; /* Enables Flexbox layout */
  align-items: center; /* Centers items vertically within the header */
  justify-content: flex-start; /* Aligns items to the start of the header, keeping them inline */
    /* Add any additional styling here (background, padding, etc.) */
}

.App-logo {
  height: 120px; /* Smaller logo size for smaller devices */
  width: auto;
}
.App-header h1 {
color: white; /* Gold for the header text to stand out against the Burgundy background */
}

main {
  display: flex;
  align-items: flex-start; /* Changed to flex-start to align chat at the top */
  justify-content: center;
  flex-direction: column; /* Stack children vertically */
  width: 100%;
  max-height: 600px; /* Max height for chat window */
  padding-bottom: 20px; /* Adds padding at the bottom */
  margin-top: auto; /* Pushes the main content to the bottom */
}

.footer {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif; /* Use the same font family as the chatbot */
  padding: 10px;
  size: 1px;
  color: white;
  width: 100%;
  position: fixed; /* Stick to the bottom */
  bottom: 0;
  left: 0;
  z-index: 1000; /* Ensure it's above other content */
  display: flex; /* Enables Flexbox layout */
  align-items: center; /* Centers items vertically within the footer */
  justify-content: center; /* Aligns items to the center of the footer */
}