/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input {
  padding: 8px;
  margin-right: 8px;
}

button {
  padding: 8px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}
