/* Consolidated App.css */
body, html {
  font-family: 'Open Sans', sans-serif; 
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; 
  color: #333;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px;
  margin: auto; /* Center the box horizontally */
  display: flex; /* Aligns the logo and the h1 horizontally */
  align-items: center; /* Centers items vertically within the header */
  justify-content: flex-start; /* Aligns items to the start of the header */
}

.App-header {
  background-color: #5e051b; /* Burgundy for the header */
  padding: 20px;
  color: white;
  width: 100%; /* Stretch across the top */
  height:55px;
  position: fixed; /* Stick to the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it's above other content */
  display: flex; /* Enables Flexbox layout */
  align-items: center; /* Centers items vertically within the header */
  justify-content: flex-start; /* Aligns items to the start of the header, keeping them inline */
    /* Add any additional styling here (background, padding, etc.) */
}

.App-logo {
  height: 120px; /* Smaller logo size for smaller devices */
  width: auto;
}
.text-box, .send-button {
  width: calc(100% - 20px); /* Adjust width for smaller screens */
}

.App-header h1 {
color: #c88443; /* Gold for the header text to stand out against the Burgundy background */
}

.response {
border-left: 5px solid #c88443; /* Gold accent on chat responses for a pop of color */
}

/* Complementary accents (soft green for Burgundy, soft blue for Gold) */
/* These are softer, desaturated versions of the direct complements */

.accent-green {
color: #749a5e; /* Soft green as a complement to Burgundy, for less vibrant accents */
}

.accent-blue {
color: #437c88; /* Soft blue as a complement to Gold, for text or icons */
}

main {
  display: flex;
  align-items: flex-start; /* Changed to flex-start to align chat at the top */
  justify-content: center;
  flex-direction: column; /* Stack children vertically */
  width: 100%;
  max-height: 600px; /* Max height for chat window */
  padding-bottom: 20px; /* Adds padding at the bottom */
  margin-top: auto; /* Pushes the main content to the bottom */
}