.chatbot-container {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 400px;
  padding: 20px;
  box-sizing: border-box;
}
/* TODO: figure out use?  */

.text-box {
  width: 80%;
  max-width: 500px;
  height: 40px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 16px;
  left: 600px;
  resize: both;
} 
/* add resizing for webpage + styling */

.send-button {
  width: 80%;
  max-width: 100px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  right: 580px;
  margin-bottom: 10px;
}
/* add resizing for webpage + styling */

.send-button:hover {
  background-color: white;
}
/* add styling */

.response {
  font-size: 16px;
  margin-top: 20px;
  max-width: 90%;
}
/* styling */